[submodule "xela_models"]
	path = xela_models
	url = https://github.com/mcsix/xela_models.git
	branch = dev1.8.0-ros2
[submodule "allegro_hand_ros2"]
	path = allegro_hand_ros2
	url = https://github.com/wilson-ko/allegro_hand_ros2.git
[submodule "xela_taxel_joint_state_publisher"]
	path = xela_taxel_joint_state_publisher
	url = https://github.com/invokelshn/xela_taxel_jsp.git
[submodule "xela_ah_r2c_bringup"]
	path = xela_ah_r2c_bringup
	url = https://github.com/invokelshn/xela_models_ros2_ctrl.git
