<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="allegro_hand_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="ah_joint00">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint00']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint01">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint01']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint02">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint02']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint03">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint03']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint10">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint10']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint20">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint20']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint21">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint21']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint22">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint22']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint23">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint23']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint30">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint30']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint31">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint31']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint32">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint32']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ah_joint33">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ah_joint33']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
